@import url("https://fonts.googleapis.com/css?family=Passion+One|Raleway&display=swap");

body {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;

    /* background: url("../img/cardBG.jpg");*/
}

.btn-group.block,
.btn-block {
    width: 100%;
    padding: 0px;
}

.error {
    border: 1px #ff0000 solid;
}


.capitalize {
    text-transform: capitalize;
}

body:after {
    content: "";
    background: url("../img/cardBG.jpg");

    opacity: .3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;

}

.pointer {
    cursor: pointer;
}

footer a {
    text-shadow: 1px 1px 2px black, 0 0 1em #fff, 0 0 0.2em rgb(206, 206, 242);
}

[data-sound='true'] {
    color: green;
}

[data-sound='false'] {
    color: red;
}


/*START FOOTER*/
footer {
    box-shadow: 0 -4px 3px rgb(0 0 0 / 8%);

    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
    text-align: center;
}


#socialList a i {
    font-size: 1.5rem;
    padding: 12px 10px;

}

ul.inline li {
    display: inline-block;
}


.btn-group.block {
    width: 100%;
    padding: 0px;
}


h1,
h2,
h3,
h4,
h5 {
    font-family: "Passion One", cursive;
}

.hide {
    display: none !important;
}

.btn-group.form-control {
    padding: 0;

}

/*START GLOBAL ALERT CSS*/

#globalAlert {
    width: 100%;
    position: absolute;
    top: 40%;
}


/*END GLOBAL ALERT CSS*/

@media (max-width: 767px) {
    #socialList a i {
        padding: 12px 10px 25px 10px;

    }
}

/*end 767*/